.footer {
  background: linear-gradient(90deg, #6a11cb, #000000); /* Purple to Black gradient */
  color: white;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}
