<mat-sidenav-container class="sidenav-container">
  <!-- Side Menu -->
  <mat-sidenav #sidenav class="side-nav" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/products/men" (click)="sidenav.close()">Men</a>
      <a mat-list-item routerLink="/products/women" (click)="sidenav.close()">Women</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Top Toolbar -->
  <mat-toolbar class="custom-toolbar">
    <!-- Hamburger Menu (visible on mobile) -->
    <button mat-icon-button (click)="sidenav.toggle()" class="mobile-toggle">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logo & Title -->
    <img src="./ALEX[1].jpg" class="logo-img" />
    <span class="brand-text">Alex Sportswear</span>

    <!-- Spacer -->
    <span class="spacer"></span>

    <!-- Desktop Nav Links -->
    <div class="desktop-nav">
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/products/men">Men</a>
      <a mat-button routerLink="/products/women">Women</a>
    </div>
  </mat-toolbar>

  <!-- Content slot -->
  <ng-content></ng-content>
</mat-sidenav-container>
