:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Full height of the page
  font-family: 'Poppins', sans-serif;
}

app-header {
  flex-shrink: 0;
}

.main-content {
  flex: 1 0 auto;
  padding: 16px;
  background-color: #f5f5f5; // Optional light background
}

app-footer {
  flex-shrink: 0;
}
